# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Poetry
.venv/
poetry.lock

# Pipenv
Pipfile
Pipfile.lock

# Environment variables
.env
.env.local

# IDE and Editor
.idea/
.vscode/
*.swp
*.swo
*.bak

# OS-specific
.DS_Store
Thumbs.db

# Logs and Debugging
logs/
*.log
*.out
*.err

# FastAPI specific
instance/
*.sqlite3
*.db

# React (Frontend)
node_modules/
.next/
.next/cache/
*.env.local

# Testing and Coverage
.coverage
htmlcov/
pytest_cache/
*.pytest_cache/

# Docker
*.log
**/docker-compose.override.yml

# Project-specific
*.pdf
*.log

# scrapped data for rag
data/**/*.py
.cursorignore
.READMD.md
app/agent-and-tool-sample-code

data/
# # But allow these large files to be tracked via Git LFS
# !data/Loinc_2.80/AccessoryFiles/PartFile/LoincPartLink_Primary.csv
# !data/Loinc_2.80/AccessoryFiles/PartFile/LoincPartLink_Supplementary.csv
# !data/loinc_whoosh_index/MAIN_9686i0821slf1v6b.seg
# !data/Loinc_2.80/AccessoryFiles/LinguisticVariants/zhCN5LinguisticVariant.csv
# !data/Loinc_2.80/AccessoryFiles/PanelsAndForms/Loinc.csv
# !data/loinc_enhanced_index.json
